{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ article.text }}</td>
            </tr>
            <tr>
                <th>IsFree</th>
                <td>{{ article.isFree ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ article.price }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ article.getUser().name }}</td>
            </tr>
        </tbody>
    </table>

    {#
    Précisions sur la syntaxe {{ objet.attribut }}
    Le fonctionnement de la syntaxe {{ objet.attribut }} est un peu plus complexe qu'il n'en a l'air. Elle ne fait pas seulement$objet->getAttribut(). En réalité, voici ce qu'elle fait exactement :

    Elle vérifie si objet est un tableau, et si attribut en est un index valide. Si c'est le cas, elle affiche objet['attribut'].

    Sinon, et si objetest un objet, elle vérifie si attribut en est un attribut valide (public donc). Si c'est le cas, elle affiche objet->attribut.

    Sinon, et si objetest un objet, elle vérifie si attribut() en est une méthode valide (publique donc). Si c'est le cas, elle afficheobjet->attribut().

    Sinon, et si objetest un objet, elle vérifie si getAttribut() en est une méthode valide. Si c'est le cas, elle affich eobjet->getAttribut().

    Sinon, et si objetest un objet, elle vérifie si isAttribut() en est une méthode valide. Si c'est le cas, elle affiche objet->isAttribut().

    Sinon, elle n'affiche rien et retourne null.
    #}

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
